* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;


    /* chrome scrollbar styling */
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Thumb (The draggable part) */
    ::-webkit-scrollbar-thumb {
        background-color: var(--text-muted);
        border-radius: 10px;
        border: 2px solid transparent;
        background-clip: content-box;
    }
}

:root {
    --primary-font: 'Inter', sans-serif;

    /* primary colours */
    --bg-dark: oklch(0.2355 0.0131 243.46);
    --bg: oklch(0.2835 0.0145 235.47);
    --bg-alt: oklch(0.2237 0.0103 196.44);
    --shadow: oklch(0.1088 0.0173 285.91);
    --border: oklch(0.635 0.0074 286.19 / 0.5);

    /* secondary colours */
    --selected: oklch(0.5864 0.097 161.7);
    --deselected: oklch(0.4574 0.1405 24.6);

    /* text colours */
    --text: oklch(0.9212 0.0093 264.06);
    --text-muted: oklch(0.7136 0.0053 240.19);
    --text-alt: oklch(0.704 0.04 256.788);
}

body {
    font-family: var(--primary-font);
    line-height: 1.6;
    color: var(--text);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(
        120deg,
        oklch(0.16 0.008 260) 0%,
        oklch(0.19 0.012 250) 40%,
        var(--bg-dark)
    );
}

h1 {
    font-size: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

h2 {
    font-size: 1.75rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    text-align: center;
}





/* menu category selection stuff */
.category-container {
    margin-inline: auto;
    width: 100%;
}

#categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    margin-inline: auto;
}

.category-item {
    display: flex;
    align-items: center;
    background-color: var(--deselected);
    padding: 2px 5px;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.category-item:hover {
    background-color: var(--selected);
    cursor: pointer;
    transform: scale(1.05);
}

.category-item:active {
    transform: scale(0.95);
}

.category-item.selected {
    background-color: var(--selected);
}

.category-item.selected:hover {
    background-color: var(--deselected);
    cursor: pointer;
    transform: scale(1.05);
}




/* recipe stuff */
.recipe-display-container {
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 80%;
    margin: 2rem auto;
    gap: 3rem;
}

.recipe-display-item {
    border-radius: 10px;
    box-shadow: var(--shadow);
    background-color: var(--bg);
    overflow-y: auto;
    border: 1px solid var(--border);
}

.recipe-selection {
    flex: 5;
}

.recipe-information {
    flex: 3;
}





/* recipe selection */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--border);
    height: fit-content;
}

.top-bar h2 {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.2;
}




/* recipe item display */
.recipe-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.recipe-item {
    background-color: var(--bg-alt);
    border-radius: 5px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s ease;
    cursor: pointer;
}

.image-container {
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.recipe-item:hover {
    background-color: var(--selected);
    transform: scale(1.05);
}

.recipe-item.active {
    background-color: var(--selected);
    border: 1px solid var(--bg-dark);
    box-shadow: var(--shadow), 0 0 0 2px var(--selected);
    transform: scale(1.02);
}




/* recipe information */
.ingredients-list {
    list-style: none;
    padding: 0;
    width: 100%;
    margin: auto;
}

.ingredient {
    padding: 0.25rem;
    padding-left: 2rem;
    border-bottom: 1px solid var(--border);
}

.instructions-text {
    padding: 2rem;
    line-height: 1.5;
}